{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}
    {% if todo.pk %}
        Editar tarefa
    {% else %}
        Cadastro de Tarefas
    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if todo.pk %}
        <h1>Editar tarefa</h1>
    {% else %}
        <h1>Cadastro de Tarefas</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}
        
        <button type="submit">Salvar</button>
    </form>

    {% comment %}
    Teoricamente, era para funcionar desse jeito...
    <h1>Cadsatro do Crispy</h1>

    {% crispy form %}

    não seria necessário nem o botão
    <button type="submit">Salvar</button> 
    {% endcomment %}
{% endblock content %}
